* {
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(to bottom right, black, silver);
}

.header {
    color: white;
}

.main_page h1 {
    text-align: center;
    color: white;
}

a:link {
    color:rgb(102, 230, 11);
}

a:visited {
    color:rgb(255, 255, 255);
}

img {
    border-radius: 2rem 2rem 0 0;
}

.main_page {
    display: flex;
}

.nav_pane {
    border-right: black solid 2px;
    max-width: 10rem;
    flex: 1;
}

.challenges {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.challenge_box {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.challenge_box1 {
    display: flex;
    flex-direction: column;
}

.c1_background {
    background-image: url(./assets/images/price-grid.png);
    width: 450px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 2rem 2rem 0 0;
}

.challenge_box2 {
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
}

.c2_background {
    background-image: url(./assets/images/stats-card.png);
    background-position: center;
    background-size: cover;
    width: 450px;
    height: 300px;
    border-radius: 2rem 2rem 0 0;
}

.challenge_box1 p {
    text-align: center;
}

.challenge_box1 img {
    max-width: 400px;
}

.challenge_box2 p {
    text-align: center;
}

.challenge_box2 img {
    max-width: 400px;
}

.odin_project_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.odin_box_background {
    background-image: url(./assets/images/recipe-book-with-fruit-sketch.jpeg);
    width: 450px;
    height: 300px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}